*.l[ao]
*~
*.o
*.a
*.exe
ansvif
faulty
find_suid
syscalls
*.log
!/man/*
!/bin/
/bin/*
!/tmp/*
/tmp/1
!/bin/ansvif_*
/bin/*.deb
/bin/*.rpm
/bin/ansvif_*/usr/bin/ansvif
/bin/ansvif_*/usr/bin/find_suid
/bin/rpmbuild/BUILD/*
/bin/rpmbuild/BUILDROOT/*
/bin/rpmbuild/RPMS/*
/bin/rpmbuild/SOURCES/*
/bin/rpmbuild/SRPMS/*
!/bin/ansvif_*/DEBIAN
!/bin/ansvif_*/DEBIAN/control
!/bin/ansvif_*/usr/share/man/man1/*gz
!/bin/rpmbuilds/SPECS/ansvif.spec
compile
install-sh
depcomp
missing
src/.clang-format
src/linux/.clang-format
src/win/.clang-format
config.guess
config.sub
test-driver
/autom4te.cache/
*.Po
Makefile
Makefile.in
config.log
config.status
aclocal.m4
