*.l[ao]
*~
*.o
*.a
ansvif
faulty
find_suid
!/man/*
!/ansvif_*/usr/bin/*
compile
install-sh
depcomp
missing
src/.clang-format
src/linux/.clang-format
src/win/.clang-format
config.guess
config.sub
test-driver
