*.l[ao]
*~
*.o
*.a
*.exe
ansvif
faulty
find_suid
syscalls
*.log
!/man/*
!/bin/
/bin/*
!/tmp/*
/tmp/1
!/bin/ansvif_*
/bin/ansvif_*/
!/bin/ansvif_*/DEBIAN
!/bin/ansvif_*/DEBIAN/control
!/bin/ansvif_*/usr/share/man/man1/*gz
compile
install-sh
depcomp
missing
src/.clang-format
src/linux/.clang-format
src/win/.clang-format
config.guess
config.sub
test-driver
/autom4te.cache/
*.Po
Makefile
Makefile.in
config.log
config.status
aclocal.m4
