.pl-c{color:#969896;}
.pl-c1 ,
.pl-s .pl-v{color:#0099cd;}
.pl-e ,
.pl-en{color:#9774cb;}
.pl-s .pl-s1 ,
.pl-smi{color:#ddd;}
.pl-ent{color:#7bcc72;}
.pl-k{color:#cc2372;}
.pl-pds ,
.pl-s ,
.pl-s .pl-pse .pl-s1 ,
.pl-sr ,
.pl-sr .pl-cce ,
.pl-sr .pl-sra ,
.pl-sr .pl-sre{color:#3c66e2;}
.pl-v{color:#fb8764;}
.pl-id{color:#e63525;}
.pl-ii{background-color:#e63525;color:#f8f8f8;}
.pl-sr .pl-cce{color:#7bcc72;font-weight:bold;}
.pl-ml{color:#c26b2b;}
.pl-mh ,
.pl-mh .pl-en ,
.pl-ms{color:#264ec5;font-weight:bold;}
.pl-mq{color:#00acac;}
.pl-mi{color:#ddd;font-style:italic;}
.pl-mb{color:#ddd;font-weight:bold;}
.pl-md{background-color:#ffecec;color:#bd2c00;}
.pl-mi1{background-color:#eaffea;color:#55a532;}
.pl-mdr{color:#9774cb;font-weight:bold;}
.pl-mo{color:#264ec5;}